<div >
  <div id="introduction">
    <h2 class="fw-bold text-muted"> Introduction </h2>
    <hr style="width: 300px;">
    <!-- <%- include('../content/introduction); %> -->
    bb
  </div>

  <div id="createWorker" class="mt-5">
    <h2 class="fw-bold text-muted"> Create Worker </h2>
    <hr style="width: 300px;">
    <!-- <%- include('../content/createWorker'); %> -->
    cc
  </div>

  <div id="readWorker" class="mt-5">
    <h2 class="fw-bold text-muted"> Read Worker </h2>
    <hr style="width: 300px;">
    <!-- <%- include('../content/readWorker'); %> -->
    dd
  </div>

  <div id="updateWorker" class="mt-5">
    <h2 class="fw-bold text-muted"> Update Worker </h2>
    <hr style="width: 300px;">
    <!-- <%- include('../content/updateWorker'); %> -->
    ee
  </div>

  <div id="deleteWorker" class="mt-5">
    <h2 class="fw-bold text-muted"> Delete Worker </h2>
    <hr style="width: 300px;">
    <!-- <%- include('../content/deleteWorker'); %> -->
    ff
  </div>

</div>

